* {
margin: 0em;
padding: 0em;
font-size: 100%;
border-style: none;
list-style-type:none;
}

body {
font-family: helvetica, calibri, sans-serif;
background-color: #f6f7fb;
color: #273149;
}

#wrapper {
width: 1300px;
margin: 20px auto;
}

nav {
margin-top: 8px;
}

nav ul {
width: 1250px;
margin: auto;
display: flex;
justify-content: space-between;
}

nav a {
font-size: 30px;
color: #273149;
text-decoration: none;
}

#current {
color: #998a0c;
}

main {
width: 1250px;
margin: auto;
margin-top: 40px;
display: flex;
justify-content: space-between;
}


section {
width: 45%;
}

h1 {
font-size: 34px;
}

h2 {
font-size: 28px;
margin-top: 5px;
}

section ul {
margin-top: 20px;
line-height: 1.5em;
}

figure {
width: 1300px;
margin: auto;

}

#col1 {
	margin-top: 30px;
	
}

#col1 img, iframe {
	margin-top: 30px;
}

#col2 {
	margin-left: 50px;
}

form {
	display: inline-block;
	background-color: rgb(47, 47, 49);
	color: rgb(255, 221, 29);
	padding: 30px 100px 30px 100px;
	line-height: 150%;
}

fieldset {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	font-weight: bold;
}

fieldset div {
	display: flex;
}

label {
	display: inline-block;
	margin-top: 10px;
	margin-right: 4px;
	font-weight: normal;
}

input {
	border: 1px solid #3b64c5;
	margin-top: 4px;
	margin-right: 0px;
	display: inline-block;
	margin-bottom: 15px;
	
}

form p {
	margin-top: 4px;
	font-size: 12px;
}

input#fName, input#sName, input#Email, input#Phone, input#rooms_input {
	max-width:340px;
	min-width:340px;
  

}

#radio {
  align-items: baseline;
  vertical-align: bottom;
}

.radiobox {
	align-items: baseline;
}

.checkbox {
	align-items: baseline;
	
	}

select {
	margin-top: 12px;
	margin-bottom: 22px;
	margin-left: -4px;
	background-color: transparent;
}

/* Comment box styling */
textarea {
	font-family: helvetica, calibri, sans-serif;
	margin-top: 10px;
	max-width:340px;
	min-width:340px;
	border: 1px solid #273149;
}

/* Input button styling */
input[type=submit] {
	display: block;
	background-color: rgb(255, 243, 70);
	color: rgb(47, 47, 49);
	border:black 3px solid;
	margin-top: 20px;
	padding: 2px 8px;
}

footer {
  width: 620px;
  margin: auto;
  margin-top: 40px;
  font-size: medium;
  bottom: 0
}

footer ul {
display: flex;
justify-content: space-around;
align-items: center;
}

footer a {
color: #273149;
text-decoration: none;
}


/* INDEX.HTML SLIDESHOW CSS */
* {box-sizing:border-box; margin:auto}


/* Slideshow container */
.index-slideshow {
  max-width: 990px;
  position: relative;
  width: 100%;
}


/* Slideshow next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: auto;
  margin-top: -300px;
  padding: 20px;
  color: rgb(255, 219, 17);
  font-weight: bold;
  transition: 1.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Slideshow 'Next' button position */
.next {
  right: 0%;
  margin-top: -300px;
  border-radius: 3px 0 0 3px;
  position: absolute;
  overflow: hidden;

}

/* Slideshow hover over effect */
.prev:hover, .next:hover {
  background-color: rgba(156, 207, 221, 0.8);
}

/* Slideshow image caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: bottom;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: x-large;
}

/* Slideshow picture number text (1/3 etc) */
.numbertext {
  color: rgb(255, 219, 17);
  background-color: rgba(18, 19, 19, 0.8);
  opacity: 80%;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 12px;
  position: absolute;
  top: 10;
  text-align: center
}

/* Slideshow dots at the bottom */
.dot {
  cursor: pointer;
  position: relative;
  align-items: baseline;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Slideshow active dot (when the dot has been selected) */
.active {
	
	background-color: rgb(255, 221, 29);
}

/* Dot hover on image slideshow  */
.dot:hover {
  background-color: rgb(255, 221, 29);
}

/* Fading animation on slideshow and FAQ accordion panels */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Style the buttons that are used to open and close the panel */
.accordion{
  background-color: rgb(29, 28, 28);
  color: rgb(250, 242, 242);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border-radius: 5px rgb(253, 251, 251);
}

/* Mouse hover, active link effects for FAQ accordion */
.accordion:active, .accordion:hover {
  background-color: rgba(56, 103, 141, 0.8);
  opacity: 100%;
  border: 1px dotted white;
}

/* The FAQ wrapper */
.faq {
	margin-left: 1em;
	border-bottom: 5px rgb(253, 251, 251);
	align-content: center;
}

/* FAQ slideshow gallery */
.accordion {
	position: relative;
	display: grid;
	width: 1250px;
	align-items: center;
	color:rgb(255, 221, 29);

/* background-color:rgb(223, 223, 41)) ; */
	text-align: left;
	padding-left: 1em;
	justify-content: space-evenly;
	border: 2px black;
}

.panel {
  padding: 0 18px;
  background-color: rgba(240, 239, 230, 0.897);
  display: none;
  color: rgba(5, 25, 46, 0.8);
  max-width:1250px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button.accordion {
	grid-area: auto;
	position: center;
	justify-content: space-evenly;
}

@-webkit-keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}

@media screen and (max-width: 600px) {
  .left, .main, .right, #wrapper, .accordion, .nav:a, .body, #col1, #col2, .index-slideshow, .img {
    display: block;
    max-width: 10vh; 
    max-height: 10vh;
    min-height: 10vh;
        width: 10%;
        /* position: relative; */
        
        /* header > wrapper {margin: 0} */
  }

  .nav:a {
    display: block;
  }}